.pass,
.yes {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  display: inline-block;
  margin: 0px 45px 25px 45px;
  padding: 5px;
  font-size: 24px;
  border-style: solid;
  border: 2px;
  -webkit-box-shadow: 12px 12px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 12px 12px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}


.pass {
  border-color: red;
  margin-left: 60px;
  color: red;
  
}

.yes {
  border-color: pink;
  float: right;
  color: #a5d4ec;
}