.img-container {
  display: inline-flex;
  max-height: 150px;
  background-color: white;
  margin: 20px 35% 20px;
  padding: 10px;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.img-container > img {
  display: block;
  max-height: 120px; 
}
