.profile-container {
  /*font-family: 'Indie Flower', cursive;*/
  /*font-family: 'Rubik', sans-serif;*/
  font-family: 'Gloria Hallelujah', cursive;
  /*font-family: 'Concert One', cursive;*/
  /*font-family: 'Freckle Face', cursive;*/
  /*font-family: 'Itim', cursive;*/
  /*font-family: 'Give You Glory', cursive;*/
  /*font-family: 'Kranky', cursive;*/
  /*font-family: 'Swanky and Moo Moo', cursive;*/
  /*font-family: 'Snowburst One', cursive;*/
  font-size: 18px;
  max-width: 40%;
  background-color: #fdda6f;
  /*display: flex;*/
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 10px auto 30px auto;
  border-style: solid;
  border-color: #d73725;
  flex-wrap: wrap;
  -webkit-box-shadow: 12px 12px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 12px 12px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.user-info-container{
  border-color: #d73725;
  border-style: solid;
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.user-info {
  padding: 5px;
  margin: 10px;
  border: solid;
  border-width: 1px;
  border-color: #fdda6f;

}
