.profile-container {
  max-width: 70%;
  background-color: #f1d15e;
  display: block;
  align-items: center;
  margin: 30px auto 30px auto;
  border-style: solid;
  border-color: #d73725;
  height: 70vh;
}

.user-info{
  background-color: white;
  display: inline-flex;
}

.user-name {
  border-color: black;
  border-style: solid;
}