*{
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}


.btn{
  background-color: white;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  background-color: none;
}