ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    overflow: hidden;
    background-color: #fdda6f;
    color: #d73725;
}

li {
    float: left;
}

.nav>li>a {
    font-family: 'Kranky', cursive;
    font-size: 1.5em;
    transform: rotate(-5deg);
    display: block;
    color: #d73725;
    text-align: center;
    padding: 35px 28px;
    text-decoration: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: #c9a7a0;
    background-color: #fdda6f;
    transform: rotate(-17deg);
}

.nav>li>a:active {
    background-color: #fdda6f;
}

.brand {
    font-family: 'Kranky', cursive;
    text-decoration: underline;
    font-size: 2.5em;
    transform: rotate(-7deg);
    display: block;
    text-align: center;
    padding: 20px 28px;
}

.navbar {
    -webkit-box-shadow: 0px 5px 11px 0px #747171;
    box-shadow: 0px 5px 11px 0px #747171;
    min-height: 100px;
    background-color: #fdda6f;
    margin-bottom: 0px;
    border-style: solid;
    border-color: #d73725;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}