.container {
  max-width: 40%;
  background-color: white;
  margin: 10px auto 30px auto;
}

.wrapper > .edit-profile {
  border-style: solid;
  border-color: black;
}
.edit-profile, .container {
  font-size: 18px;
  padding: 20px;
  border-style: solid;
  border-color: #d73725;
  border-width: 3px;
  background-color: #fdda6f;
  font-family: 'Gloria Hallelujah', cursive;
  -webkit-box-shadow: 12px 12px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 12px 12px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.edit-profile > .formcontainer, .row {
  width: 70%;
  margin: auto;
  margin-top: 10%;
  border-style: solid;
  border-color: #d73725;
  padding: 20px;
  background-color: white;
}